/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
th,td{

  padding-left: 30px;
}
Table{
border: 1px solid black;
border-collapse: collapse;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #2874f0;
  /* background: #2874f0; */
  /* color: white; */
  height: 55px;
  font-family: Helvetica;
  font-weight: 300;
  
}

.ok{
  color: white;
}
.navbar__item {
  /* padding: 16px 16px; */
  cursor: pointer;
  height: 15px;
  vertical-align: middle;
  background: #2874f0;
  font-family:'Raleway',sans-serif;
}
.navbar__item1 {
  /* padding: 16px 16px; */
  cursor: pointer;
  /* height: 15px; */
  padding-left: 470px;
  vertical-align: middle;
  background: #2874f0;
  font-family:'Raleway',sans-serif;
}


p{
  color:white;
}

/* .split{
  position: fixed;
  overflow: hidden;


} */
/* .left,.right {
  
  position: fixed;
  z-index: 1;

  overflow-x: hidden;

} */
.left{
  left: 0;
}
.right{
  right: 0;
}
#container
{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
}
.btn1{
  font-size: 10px;
  position: relative;
  /* padding: 2px 3px; */
  border: 0;
  align-content: center;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: bold;
  color: #2874f0;
  background: white;
  transition: background .275s;
}

.Parallax2{
  /* background:url(http://www.meshpros.com/images/bg/hmk1.jpg) repeat center fixed; */
  -webkit-background-size:cover;
  background-color:#666666;
  background-blend-mode:multiply;
  text-align:center;
  margin-top:-20px;
  
}
.Parallax-inner2{
  padding-top:-10px;
  padding-bottom:100px;
}

.container{
  align-items: center;
  /* background-color: rgb(179, 149, 149); */
}